<html lang="en">

<body style="font-family: 'Lato', 'Merriweather', 'Roboto', sans-serif;">
    <div className="mainEmailWraper"
        style="max-width: 680px; margin: 0 auto;border: 1.17px solid #D0D0D0;border-radius: 8px;">
        <div className="emailHeader"
            style="padding: 10px;background-color: #110b2a;border-radius: 8px 8px 0 0;height: 70px;display: flex;align-items: center;justify-content: center;">
            <div className="logoOuter" style="text-align:center;">
                <img src="http://103.119.170.253:5000//UserUploads/09d77026-cb75-45f9-befb-de9d29f14a2b$$welink-logo-02%202.png"
                    alt="Logo" style="width:100px;" />
            </div>
        </div>

        <div className="emailTempBody" style="">
            <div style="padding: 25px 16px; background-color: #fff; gap: 16px;">

                <p style="font-size: 18px;color: #000000;margin: 10px 0px;font-weight: 600;text-align: center;margin-bottom: 21px;">
                    {{subject}}
                </p>
                <h6 style="font-size: 16px; font-weight: 400; color: #000000;margin: 0px; font-weight: 600; "> Welcome
                    to the Escrow ! </h6>

                <p style="color: #000000;font-size: 16px;margin: 10px 0px;">Name: <strong style="font-size: 16px; color: #000000;margin: 10px 0px;font-weight: 600;">{{name}}</strong></p>
                <p style="color: #000000;font-size: 16px;margin: 10px 0px;">Email: <strong style="font-size: 16px; color: #000000;margin: 10px 0px;font-weight: 600;"> {{toEmail}}</strong>
                </p>
                <p style="color: #000000;font-size: 16px;margin: 10px 0px;">Message:
                    <strong style="font-size: 16px; color: #000000;margin: 10px 0px;font-weight: 600;"> {{body}} </strong>
                </p>
                <h6 style="font-size: 16px; font-weight: 400; color: #000000;margin: 0px; ">Best regards,</h6>
                <p style="font-size: 18px; color: #000000;margin: 5px 0px;font-weight: 600;"> Escrow</p>
            </div>
            <!--<div>
                <h6 style="
    font-size: 12px;
    color: #777777;
    text-align: center;
    margin: 0;
    margin-bottom: 15px;
"> This message was sent from your website contact form.</h6>
                <h6 style="
    font-size: 12px;
    color: #777777;
    text-align: center;
    margin: 0;
    margin-bottom: 15px;
">If you did not expect this, you can safely ignore it.</h6>

            </div>
        </div>-->

        <!--<div style="padding: 10px;font-size: 14px; background-color: #110b2a; color: #000; text-align:center;">-->
            <!--<div style="font-size: 20px;font-weight: 600;color: #fff;margin-bottom: 10px;">Get in touch</div>-->


            <!--<ul style="list-style: none; padding: 0; margin: 0; margin-top: 16px; text-align: center;">
                <li style="display: inline-block; margin:0 8px;">
                    <a href="https://mail.google.com/"
                        style="display: flex; width: 40px; height: 40px; border-radius: 50px; background-color: #fff; position:relative;"
                        target="_blank">
                        <img src="https://api-ap-south-mum-1.openstack.acecloudhosting.com:8080/invent-colab-obj-bucket/krat-easy/facility/pocket-chef_1743593658508.png"
                            alt="Gmail" style="margin:auto;
position: absolute; inset: 0; filter: invert(100);" />
                    </a>
                </li>
                <li style="display: inline-block; margin:0 8px;">
                    <a href="https://www.linkedin.com/"
                        style="display: flex; width: 40px; height: 40px; border-radius: 50px; background-color: #fff; position:relative;"
                        target="_blank">
                        <img src=https://api-ap-south-mum-1.openstack.acecloudhosting.com:8080/invent-colab-obj-bucket/krat-easy/facility/pocket-chef_1743593692469.png
                            } alt="LinkedIn" style="margin:auto;position: absolute; inset: 0; filter: invert(100);" />
                    </a>
                </li>
                <li style="display: inline-block; margin:0 8px;">
                    <a href="https://twitter.com/"
                        style="display: flex; width: 40px; height: 40px; border-radius: 50px; background-color: #fff; position:relative;"
                        target="_blank">
                        <img src=https://api-ap-south-mum-1.openstack.acecloudhosting.com:8080/invent-colab-obj-bucket/krat-easy/facility/pocket-chef_1743593784793.png
                            } alt="Twitter" style="margin:auto;position: absolute; inset: 0; filter: invert(100);" />
                    </a>
                </li>
                <li style="display: inline-block; margin:0 8px;">
                    <a href="https://www.facebook.com/"
                        style="display: flex; width: 40px; height: 40px; border-radius: 50px; background-color: #fff; position:relative;"
                        target="_blank">
                        <img src=https://api-ap-south-mum-1.openstack.acecloudhosting.com:8080/invent-colab-obj-bucket/krat-easy/facility/pocket-chef_1743593729983.png
                            } alt="Facebook" style="margin:auto;position: absolute; inset: 0; filter: invert(100);" />
                    </a>
                </li>
            </ul>-->
        <!--</div>-->
        <div className="emailFooter"
            style="padding: 10px;background-color: #110b2a;border-radius: 0 0 8px 8px;text-align: center;">
            <div className="title" style="font-size: 14px; color: #fff; font-weight: 500;">Copyright © 2025 Escrow.
                All rights reserved.</div>
        </div>
    </div>
</body>

</html>